.directory-info-wrap {
	.org-id-wrap {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	#di-loading {
		display: inline-block;
		display: none;
		width: 30px;
		height: 30px;

		svg {
			width: 100%;
			height: auto;
		}
	}

	.directory-wrapper {
		table {
			margin: 20px 0;

			td {
				padding: 10px;
			}
		}

		.thumb {
			width: 50px;
		}

		&.directory-plugin-wrapper .thumb {
			max-height: 50px;
		}
	}
}
